<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="lock !== undefined">
        <div class="card-header">
          <h3 class="card-title">Device Details</h3>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover table-bordered">
            <thead>
              <th>Lock Name</th>
              <th>IP</th>
              <th>MAC</th>
              <th *hasPermission="{roles: ['Super Admin', 'System Admin']}">Company</th>
              <th>Office Name</th>
              <th>Zone</th>
            </thead>
            <tbody>
              <tr>
                <td><span *ngIf="lock.device_name">{{lock.device_name}}</span></td>
                <td>{{lock.ip}}</td>
                <td *ngIf="lock.company_device.device">{{lock.company_device.device.mac}}</td>
                <td *hasPermission="{roles: ['Super Admin', 'System Admin']}">{{lock.company.name}}</td>
                <td *ngIf="lock.office">{{lock.office.name}}</td>
                <td *ngIf="lock.zone">{{lock.zone.name}}</td>
              </tr>
            </tbody>
          </table>          
        </div>
    </div>
    <div class="card" *ngIf="lock !== undefined">
        <div class="card-header">
          <a class="btn btn-danger pull-right" routerLink='/lifeguard/events'>Back</a>
          <button type="button" class="btn btn-warning pull-right mr-10" (click)="onExport()">Export PDF</button>
          <button class="btn btn-primary pull-right mr-10" (click)="reloadView()">Reload Current Page</button>
          <button class="btn btn-info pull-right mr-10" (click)="reloadPage()">Reload All</button>
          <h3 class="card-title">Events</h3>
        </div>
        <div class="card-body">
          <div class="row mt-10">
            <div class="col-xs-6 col-6">
                <span *ngIf='connecting'>Connecting to the Device. <i class='fa fa-spin fa-refresh'></i></span>
            </div>
            <div class="col-xs-6 col-6">
              <ngb-pagination [collectionSize]="events_count"
                [(page)]="current_page"
                [maxSize]="5"
                [pageSize]="page_size"
                (pageChange)="pageChanged($event)"
                [disabled]="events_count <= page_size"
                class="d-flex justify-content-end"
                aria-label="Default pagination"></ngb-pagination>
            </div>
          </div>
          <div class="table-responsive p-0">
            <table class="table table-hover table-bordered">
              <thead>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>User</th>
                <th>Type</th>
                <th>Date</th>
                <th>Time</th>
              </thead>
              <tbody>
                <tr *ngFor="let event of events">
                  <td>{{ event['event-id'] }}</td>
                  <td>{{ getEventDescription(event['event-id']) }}</td>
                  <td>{{ getEventUserName(event['detail-1']) }}</td>
                  <td>{{ getEventType(event['event-id']) }}</td>
                  <td>{{ event['date'] }}</td>
                  <td>{{ event['time'] }}</td>
                </tr>
                <tr *ngIf="events.length == 0">
                  <td colspan='6'>No Events</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-10">
              <div class="offset-6 col-xs-6 col-6">
                <ngb-pagination [collectionSize]="events_count"
                  [(page)]="current_page"
                  [maxSize]="5"
                  [pageSize]="page_size"
                  (pageChange)="pageChanged($event)"
                  [disabled]="events_count <= page_size"
                  class="d-flex justify-content-end"
                  aria-label="Default pagination"></ngb-pagination>
              </div>
            </div>       
        </div>
    </div>
  </div>
</div>