<div class="span">
  <a class="btn btn-info pull-right"
    routerLink='/lifeguard/schedules/add/new'
    *hasPermission="{permissions: ['Add Schedules']}">Add Schedule</a>
  <div class="row">
    <header class="col-md-6 col-xs-6">
      <h3>List of Schedules</h3>
    </header>
  </div>
</div>
<form [formGroup]="searchForm" form-inline (ngSubmit)="onSearch(searchForm.value)">
  <div class="row">
    <div class="col-xs-6 col-12">
      <div class="row filters-wrapper">
        <!-- <div class="col-sm-2 dropdown-auto-width">
          <angular2-multiselect [data]="dropdownRoleList"
            formControlName="role"
            [settings]="roleDropdownSettings"
            (onSelect)="onRoleSelect($event)"
          ></angular2-multiselect>
        </div> -->
        <div class="col-sm-2 dropdown-auto-width">
          <angular2-multiselect [data]="dropdownCompanyList" [(ngModel)]="selectedCompanyItems"
          formControlName="companyId"
          [settings]="companyDropdownSettings"
          (onSelect)="onCompanySelect($event)"
          ></angular2-multiselect>
        </div>
        <div class="col-sm-2 dropdown-auto-width">
          <angular2-multiselect [data]="dropdownStatusList"
          formControlName="status"
          [settings]="statusDropdownSettings"
          (onSelect)="onStatusSelect($event)"
          ></angular2-multiselect>
        </div>
        <div class="col-sm-4">
          <input type="text" formControlName="search" class="form-control" placeholder="Search Name" />
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row mt-10">
  <div class="offset-6 col-xs-6 col-6">
    <ngb-pagination [collectionSize]="totalItems"
     [(page)]="currentPage"
     [maxSize]="5"
     [pageSize]="pageSize"
     (pageChange)="pageChanged($event)"
     [disabled]="totalItems <= pageSize"
     class="d-flex justify-content-end"
     aria-label="Default pagination"></ngb-pagination>
  </div>
</div>
<div class="table-responsive p-0">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Company</th>
        <th>Name</th>
        <th>Type</th>
        <th>Details</th>
        <th>Status</th>
        <th style="width: 205px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of schedules">
        <td>{{schedule.company.name}}</td>
        <td>{{schedule.name}}</td>
        <td>{{schedule.type == 0 ? "Week" : "Day"}}</td>
        <td innerHTML="{{getWeekDetails(schedule)}}" *ngIf = "schedule.type==0">
        </td>
        <td *ngIf = "schedule.type==1"><label class='badge badge-info'>{{schedule.start_day}}</label> ~ <label class='badge badge-info'>{{schedule.end_day}}</label></td>
        <td>{{getStatus(schedule)}}</td>
        <td>
          <a class="btn btn-info btn-sm" routerLink='/lifeguard/schedules/{{schedule.id}}'>Show</a>&nbsp;
          <a class="btn btn-primary btn-sm" routerLink='/lifeguard/schedules/{{schedule.id}}/edit' *hasPermission="{permissions: ['Update Schedules']}">Edit</a>&nbsp;
          <button class="btn btn-danger btn-sm" [swal]="deleteSwal"*hasPermission="{permissions: ['Delete Schedules']}">Delete</button>
          <a class="btn btn-success btn-sm" routerLink='/lifeguard/schedules/{{schedule.id}}/assign_user' *ngIf="schedule.type == 0">Assign to user</a>&nbsp;
          <a class="btn btn-warning btn-sm" routerLink='/lifeguard/schedules/{{schedule.id}}/assign_lock'>Assign to lock</a>&nbsp;
          
          <swal
            #deleteSwal
            title="Are you sure you want to delete {{schedule.name }}? This will remove all the users and locks from the schedule"
            type="question"
            [showCancelButton]="true"
            [focusCancel]="true"
            (confirm)="deleteSchedule(schedule)">
          </swal>
        </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-xs-12 col-12">
    <ngb-pagination [collectionSize]="totalItems"
     [(page)]="currentPage"
     [maxSize]="5"
     [pageSize]="pageSize"
     (pageChange)="pageChanged($event)"
     [disabled]="totalItems <= pageSize"
     class="d-flex justify-content-end"
     aria-label="Default pagination"></ngb-pagination>
  </div>
</div>
