<div class="card col-md-5">
  <div class="card-header" style="color: #31708f ;background-color: #d9edf7;border-color: #bce8f1;">
    Recover Your Password.
  </div>
  <div class="card-body">
    <app-alert-message></app-alert-message>
    <form [formGroup]="forgotPasswordForm" form-inline (ngSubmit)="onSubmit(forgotPasswordForm.value)">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="email"><span class="has-error">*</span>Email</label>
        <div class="col-sm-9">
          <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': forgotPasswordForm.controls.email.dirty && forgotPasswordForm.controls.email.errors }" class="form-control" placeholder="Email" />
          <div *ngIf=" forgotPasswordForm.controls.email.dirty && forgotPasswordForm.controls.email.hasError('required')" class="has-error" >Email is required.</div>
          <div *ngIf="forgotPasswordForm.controls.email.hasError('pattern')" class="has-error">Invalid Email.</div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 col-form-div"></div>
        <div class="col-sm-9">
          <button [disabled]="forgotPasswordForm.invalid" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <a class="pull-right" routerLink="/lifeguard/login">Login</a>
  </div>
</div>
