<div>
  <h2 align="center" *ngIf="office!==undefined && office!==null">Edit Office</h2>
  <h2 align="center" *ngIf="office === undefined">Add Office</h2><br>

  <div class="form-group row" *hasPermission="{roles: ['Super Admin', 'System Admin']}">
    <label class="col-sm-2 col-form-label" for="name">Company</label>
    <div class="col-sm-10">
      <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
      [settings]="companyDropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="OnItemDeSelect($event)"
      ></angular2-multiselect>
    </div>
  </div>
  <form [formGroup]="officeForm" form-inline (ngSubmit)="onSubmit(officeForm.value)">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="name">Name</label>
      <div class="col-sm-10">
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f.name.dirty && f.name.hasError('required') }" placeholder="Name" />
          <div *ngIf="f.name.dirty && f.name.hasError('required')" class="invalid-feedback">
              <div *ngIf="f.name.dirty && f.name.hasError('required')">Name is required.</div>
          </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="address">Address</label>
      <div class="col-sm-10">
          <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': f.address.dirty && f.address.hasError('required') }" placeholder="Address" />
          <div *ngIf="f.address.dirty && f.address.hasError('required')" class="invalid-feedback">
              <div *ngIf="f.address.dirty && f.address.hasError('required')">Address is required.</div>
          </div>
      </div>

    </div>
    <div class="form-group row">
      <div class="col-sm-2 col-form-div"></div>
      <div class="col-sm-10">
          <button [disabled]="officeForm.invalid || selectedItems.length === 0" class="btn btn-primary"> <span *ngIf="office !== undefined">Update</span> <span *ngIf="office === undefined">Submit</span> </button>
      </div>
    </div>
  </form>
</div>
